# x-archived-from: appen-openapi-remote.yaml
# x-archived-on: 2026-09-22
openapi: 3.0.3
info:
  title: Appen AI Data Annotation Platform (ADAP) API
  description: |
    
    # Introduction
    
    The Appen AI Data Annotation Platform (ADAP) APIs offer a structured, automated approach to ensure high-quality data labeling on a scale. These APIs facilitate seamless integration of quality assurance steps, including reviewer assignments, and performance scoring, into annotation workflows. 
    
    By standardizing quality processes and enabling programmatic control, they reduce errors, improve data consistency, and provide reliable training data for AI and machine learning models. 
    
    Before integrating with the API, we recommend building and running a job using our **[graphical user interface](https://client.appen.com/sessions/new)**. Once you successfully run a job and are satisfied with the results, you can automate the process using the Appen API.
    
    # Authentication
    
    To authenticate and access the API, follow these steps to find it:
    
    **Obtain Your API Key:**
    
    - Click your profile picture in the top right corner of any page, then select Profile from the dropdown.
    
    ![](https://your-bucket-name.s3.amazonaws.com/images/profile-picture-location.png)   
    ![](https://qualityflow-api-docs.s3.us-east-1.amazonaws.com/ADAP/authentication1.png)   
    
    - Go to the API tab and click Generate New to create an API key.
    
    ![](https://your-bucket-name.s3.amazonaws.com/images/api-tab-location.png)    
    ![](https://qualityflow-api-docs.s3.us-east-1.amazonaws.com/ADAP/APIKey-Screenshot.png)    
    
    **Note:** Creating a new API key will invalidate any previous keys for this user, so update any code that uses the old key.
    
    - For requests listed below, the API Key will be listed as `{api_key}`.    
    
    - Include the API key in the header for each request as follows:
    
    ```
    headers: { 
    
      "AUTHORIZATION": "Token token={api_key}"
    
    }
    ```
    
    **Other Variables:**
    
    - `{job_id}` and `{team_id}` can be found on the job listing page or the Teams tab URL on the Teams Tab Account page.
    
    ![](https://qualityflow-api-docs.s3.us-east-1.amazonaws.com/ADAP/TeamId.png)
    
    ![](https://qualityflow-api-docs.s3.us-east-1.amazonaws.com/ADAP/jobId.png)
    
    # Resources

    There are four primary data objects on Appen that correspond to resources on the API:
    
    ## Projects
    
    A **Project** is a container that organizes and structures your data annotation workflows. 
    
    Projects serve as the foundation for organizing related jobs, units, and data within your team. 
    
    Each project belongs to a specific team and can contain multiple jobs.
    
    Projects have unique names that help you organize and identify different annotation initiatives. Think of a project as a workspace where you can group related annotation tasks, manage data uploads, and coordinate quality assurance workflows across multiple jobs.


    ## Jobs

    A **Job** is an interface that connects your data to an online workforce. Each job on the Appen platform has data, instructions, customizable questions for your use case (written in CML), [test questions](https://success.appen.com/hc/en-us/articles/202702985-Guide-to-Creating-Test-Questions), and is worked on by Contributors. Contributors submit Judgments on the rows of data via a worker interface.

    - All jobs in a single account can be found on your project canvas page and will be identified by a unique numeric id.

    ## Units (also known as 'Rows')

    A **Unit** of data is uploaded to the job from your source data file via API or GUI.

    ## Judgments

    A **Judgment** is the set of responses submitted by a contributor on a particular unit of data. It is recommended to collect multiple judgments and compare them to one another or aggregate to the top response. For each job, you can specify the number of judgments you would like each row to receive.
    
    # Responses and Messaging

    Each request to the Appen API returns an HTTP status code response and one or both of the following:

    - An application response message (in JSON)
    - A JSON representation of the object (job, unit, or judgments) requested See the below sections of different API Requests, Responses and Messaging for more information:
    
    1. **[Project Creation](#operation/createProject)**
    2. **[Upload Dataset](#operation/uploadDatasetToProject)**
    3. **[Upload Dataset Status](#operation/getUploadStatus)**
    4. **[Job Creation](#operation/createJob)**
    5. **[Copy Job](#operation/copyJob)**
    6. **[Job Status](#operation/getJobStatus)**
    7. **[Update Job Settings](#operation/updateJob)**
    8. **[List Units in the Project](#operation/listProjectUnits)**
    9. **[Send Units to the Job](#operation/sendUnitsToJob)**
    10. **[Launch & Resume/Run job](#operation/launchJob)**
    11. **[Pause Job](#operation/pauseJob)**
    12. **[Download Reports](#operation/downloadCsvFile)**


servers:
  - url: https://api.appen.com/
    description: Production environment

security:
  - TokenAuth: [ ]

components:
  securitySchemes:
    TokenAuth:
      type: http
      scheme: bearer
      bearerFormat: Token
      description: |
        API Token authentication. Pass your API token in the Authorization header:
        `Authorization: Token token=your-api-token-here`

  schemas:
    Error:
      type: object
      required:
        - timestamp
        - status
        - error
        - message
        - path
      properties:
        timestamp:
          type: string
          format: date-time
          description: ISO 8601 timestamp when the error occurred
        status:
          type: integer
          description: HTTP status code
        error:
          type: string
          description: HTTP status text
        message:
          type: string
          description: Human-readable error message
        path:
          type: string
          description: API endpoint path that generated the error
        trace:
          type: string
          description: Stack trace (only in development)
      example:
        timestamp: "2025-07-01T10:28:59.893+00:00"
        status: 500
        error: "Internal Server Error"
        message: "Failed to update job"
        path: "/publicapi/work-service/jobs"
    ErrorResponse:
      type: object
      required: [ status, errorMessage, traceId, timestamp ]
      properties:
        status:
          type: integer
        errorMessage:
          type: string
        traceId:
          type: string
        timestamp:
          type: string
          format: date-time
    ConflictResponse:
      type: object
      required: [ code, message ]
      properties:
        code:
          type: string
        message:
          type: string
    SimpleError:
      type: object
      required: [ error ]
      properties:
        error:
          type: string


    JobDTO:
      type: object
      description: |
        Job Data Transfer Object for updating job settings.
        
        ## FIELD OVERVIEW
        
        ** REQUIRED (5):** `id`, `projectId`, `teamId`, `title`, `type`
        
        ** CORE CONFIG:** `version`, `assignmentLeaseExpiry`, `judgmentsPerRow`, `rowsPerPage`, `displayContributorName`, `judgmentModifiable`
        
        ** WORKFLOW:** `state`, `activeStatus`, `feedback`, `sendBackOp`, `unitSegmentType`, `allowSelfQa`, `allowAbandonUnits`
        
        ** TIME & LIMITS:** `timeLimitThresholdSec` (0-100%), `enableExpirationTime`, `expirationDurationSet`, `expirationDurationUpdate`
        
        ** QUALITY:** `dynamicJudgements` (minimumConfidence 0.0-1.0), `threshold` (0.0-1.0), `maxJudgmentPerContributor`
        
        ** FEATURES:** `enableBlueTooth`, `enableShareLink`, `enableExternalAutoAssignJob`, `launchPlatform`, `latestAppVersion`
        
        ** SESSION:** `totalSessionNumber`, `reusablePrompt`, `reusablePin`, `maxSkippablePromptNum`
        
        ** CONTENT:** `instruction`, `jobCml`, `jobFilter`, `jobCrowd`, `testQuestionSettings`
        
        ** BUSINESS:** `payRateType`, `invoiceStatisticsType`, `validationRuleId`, `qaAdvancedOptions`
        
        ** METADATA:** `createdAt`, `displayId`, `flowId`, `internalSecret`, `copiedFrom` (read-only fields)
        
        ## KEY RULES
        - TeamId must match query parameter | Job titles must be unique in project
        - Negative values not allowed for: time, expiration, confidence fields
        - timeLimitThresholdSec is percentage (0-100), not seconds
        - When enableExpirationTime > 0, duration fields must be > 0
        - WORK jobs cannot have feedback ENABLED
      required:
        - id
        - projectId
        - teamId
        - title
        - type
      properties:
        id:
          type: string
          description: "**REQUIRED**: Unique job identifier (UUID). Identifies the job to update."
          example: "3f9b42ee-da0e-41a0-9dcd-5c59096cee98"
        version:
          type: integer
          description: "**RECOMMENDED**: Job version for optimistic locking. Prevents conflicting updates."
          example: 21
        projectId:
          type: string
          description: "**REQUIRED**: Project identifier (UUID). Must have access to this project."
          example: "e74c1b9d-16ff-4a29-8c4c-e3147877de1b"
        teamId:
          type: string
          maxLength: 50
          description: "**REQUIRED**: Team identifier (UUID). Must match teamId query parameter."
          example: "f6c0b8cb-de69-495c-980b-2b0e0a6ca288"
        title:
          type: string
          description: "**REQUIRED**: Job title. Must be unique within project (error 60080 if duplicate)."
          example: "Updated Job Title"
        displayId:
          type: integer
          description: "**READ-ONLY**: Auto-generated human-readable job ID. Default: auto-generated."
          example: 837054
        cycleNumber:
          type: integer
          minimum: 0
          description: "**OPTIONAL**: Job cycle number. Default: 0, Range: ≥0."
          example: 0
        feedback:
          type: string
          enum: [ ENABLED, DISABLED ]
          description: "**OPTIONAL**: Contributor feedback setting. Default: DISABLED. WORK jobs cannot have ENABLED."
          example: "DISABLED"
        flowId:
          type: string
          description: "**OPTIONAL**: Workflow identifier (UUID). Default: same as job ID."
          example: "3f9b42ee-da0e-41a0-9dcd-5c59096cee98"
        type:
          type: string
          enum: [ WORK, QA ]
          description: "**REQUIRED**: Job type. WORK = standard job, QA = quality assurance. WORK jobs cannot have feedback ENABLED."
          example: "WORK"
        state:
          type: string
          enum: [ DRAFT, RUNNING, PAUSED, COMPLETED, CANCELLED ]
          description: "**OPTIONAL**: Current job state. Controls job execution status."
          example: "PAUSED"
        activeStatus:
          type: string
          enum: [ ACTIVE, INACTIVE ]
          description: "**OPTIONAL**: Job active status. Default: ACTIVE."
          example: "ACTIVE"
        assignmentLeaseExpiry:
          type: integer
          minimum: 60
          description: "**RECOMMENDED**: Assignment lease time in seconds. Min: 60, controls how long assignments are held."
          example: 1800
        judgmentsPerRow:
          type: integer
          minimum: 1
          description: "**RECOMMENDED**: Judgments required per row. Default: 1, Min: 1. Higher = more consensus."
          example: 13
        rowsPerPage:
          type: integer
          minimum: 1
          description: "**RECOMMENDED**: Rows per assignment page. Min: 1, controls assignment size."
          example: 12
        displayContributorName:
          type: boolean
          description: "**OPTIONAL**: Show contributor names. Default: false (anonymous)."
          example: true
        judgmentModifiable:
          type: boolean
          description: "**OPTIONAL**: Allow judgment editing after submission. Default: false."
          example: true
        sendBackOp:
          type: string
          enum: [ SEND_BACK_TO_SAME_CONTRIBUTOR, SEND_BACK_TO_ANY_CONTRIBUTOR, SEND_BACK_TO_POOL, IGNORE ]
          description: "**OPTIONAL**: Rejected work handling. Default: SEND_BACK_TO_SAME_CONTRIBUTOR."
          example: "SEND_BACK_TO_POOL"
        copiedFrom:
          type: string
          nullable: true
          description: |
            **READ-ONLY**: ID of job this was copied from (if applicable).
            
            - **Default**: null
            - **Purpose**: Track job lineage for copied jobs
            - **Note**: Set automatically when copying jobs
          example: null
        maxJudgmentPerContributorEnabled:
          type: boolean
          description: |
            **OPTIONAL**: Whether to limit judgments per contributor.
            
            - **Default**: false
            - **Purpose**: Enable contributor workload limits
            - **Related**: Works with maxJudgmentPerContributor field
          example: true
        maxJudgmentPerContributor:
          type: integer
          minimum: 0
          description: |
            **OPTIONAL**: Maximum judgments per contributor.
            
            - **Default**: 0 (unlimited)
            - **Range**: ≥ 0 (0 = unlimited, positive values set limit)
            - **Purpose**: Prevent single contributor from dominating job
            - **Requirement**: Only applies when maxJudgmentPerContributorEnabled = true
          example: 0
        maxSkippablePromptNum:
          type: integer
          minimum: 0
          description: |
            **OPTIONAL**: Maximum number of skippable prompts.
            
            - **Default**: 0 (no skipping allowed)
            - **Range**: ≥ 0 (0 = no skipping, positive values allow skipping)
            - **Purpose**: Allow contributors to skip difficult assignments
          example: 0
        unitSegmentType:
          type: string
          enum: [ UNIT_ONLY, UNIT_SEGMENT, UNIT_WITH_PREVIEW ]
          description: |
            **OPTIONAL**: Unit segment type for data presentation.
            
            - **Default**: UNIT_ONLY
            - **Values**:
              - UNIT_ONLY: Present data as single units
              - UNIT_SEGMENT: Present data in segments
              - UNIT_WITH_PREVIEW: Include preview capability
            - **Purpose**: Controls how data is structured for contributors
          example: "UNIT_ONLY"
        internalSecret:
          type: string
          description: |
            **SYSTEM**: Internal secret for job access (auto-generated).
            
            - **Default**: Auto-generated secure string
            - **Purpose**: Internal authentication token
            - **Note**: Do not modify unless specifically required
          example: "V1TeRYacyzXeb0hzQzMLzM6iQGBm5dgkMYg7wpF1PJyCfi"
        createdAt:
          type: string
          format: date-time
          description: Job creation timestamp
          example: "2025-06-17T09:23:27.639930Z"
        allowSelfQa:
          type: boolean
          description: Whether self QA is allowed
          example: false
        allowAbandonUnits:
          type: boolean
          description: Whether units can be abandoned
          example: true
        maxNumberOfAllowedAbandonment:
          type: integer
          minimum: 0
          description: Maximum number of allowed abandonments (must be non-negative)
          example: 3
        sendAbandonedUnitsBackToJob:
          type: boolean
          description: Whether abandoned units are sent back to job
          example: true
        instruction:
          type: string
          description: Job instructions
          example: "Updated instructions"
        validationRuleId:
          type: string
          nullable: true
          description: Validation rule identifier
          example: null
        enableBlueTooth:
          type: boolean
          description: Whether Bluetooth is enabled
          example: false
        launchPlatform:
          type: array
          items:
            type: string
          description: Launch platforms
          example: [ ]
        latestAppVersion:
          type: boolean
          description: Whether latest app version is required
          example: false
        reusablePrompt:
          type: boolean
          description: Whether prompts are reusable
          example: false
        reusablePin:
          type: boolean
          description: Whether pins are reusable
          example: false
        totalSessionNumber:
          type: integer
          minimum: 0
          description: Total number of sessions (0 = no limit, positive values set session limit)
          example: 0
        firstLaunchTime:
          type: string
          format: date-time
          nullable: true
          description: First launch timestamp
          example: null
        promptsEnabling:
          type: string
          nullable: true
          description: Prompts enabling configuration
          example: null
        reviewReasons:
          type: string
          description: Review reasons
          example: ""
        reviewReasonOption:
          type: string
          description: Review reason option
          example: "SINGLE"
        parentJobId:
          type: string
          nullable: true
          description: Parent job identifier
          example: null
        unitGroupOption:
          type: string
          description: Unit group option
          example: "RETAIN"
        appendable:
          type: boolean
          description: "**OPTIONAL**: Allow job data appending. Default: false."
          example: false
        enableShareLink:
          type: boolean
          description: "**OPTIONAL**: Enable job sharing links. Default: false."
          example: true
        payRateType:
          type: string
          description: "**OPTIONAL**: Payment rate type. Default: empty string."
          example: ""
        invoiceStatisticsType:
          type: string
          enum: [ UNIT_COUNT, JUDGMENT_COUNT, TIME_BASED ]
          description: "**OPTIONAL**: Invoice statistics calculation type. Default: UNIT_COUNT."
          example: "UNIT_COUNT"
        operateHistoryId:
          type: string
          description: "**SYSTEM**: Operation history identifier (auto-generated)."
          example: "400681a4-d27e-485d-9491-ae9fadec9cd8"
          # Duplicate block removed (these fields are already defined above)
        jobCml:
          type: object
          nullable: true
          description: "**OPTIONAL**: Job CML (Contributor Markup Language) configuration."
          example: null
        jobFilter:
          type: object
          nullable: true
          description: "**OPTIONAL**: Job data filtering configuration."
          example: null
        jobCrowd:
          type: object
          nullable: true
          description: "**OPTIONAL**: Job crowd/contributor settings."
          example: null
        testQuestionSettings:
          type: object
          nullable: true
          description: "**OPTIONAL**: Test question configuration. jobId and teamId must match main job."
          example: null
        timeLimitThresholdSec:
          type: integer
          minimum: 0
          maximum: 100
          description: "**OPTIONAL**: Time limit threshold as percentage (0-100), not seconds. Default: 0 (disabled)."
          example: 80
        enableExternalAutoAssignJob:
          type: boolean
          description: "**OPTIONAL**: Enable external auto assignment. Default: false."
          example: false
        enableExpirationTime:
          type: integer
          minimum: 0
          description: "**OPTIONAL**: Expiration control. Default: 0 (disabled). When >0, duration fields must be >0."
          example: 0
        expirationDurationSet:
          type: integer
          minimum: 0
          description: "**OPTIONAL**: Assignment expiration duration (seconds). Default: 0 (disabled), Range: ≥0."
          example: 0
        expirationDurationUpdate:
          type: integer
          minimum: 0
          description: "**OPTIONAL**: Update expiration duration (seconds). Default: 0 (disabled), Range: ≥0."
          example: 0
        threshold:
          type: number
          format: float
          minimum: 0
          description: "**OPTIONAL**: Job threshold value. Default: 0.0, Range: 0.0-1.0."
          example: 0.0
        qaAdvancedOptions:
          type: object
          nullable: true
          description: "**OPTIONAL**: QA advanced configuration options. Default: null."
          example: null
        active:
          type: boolean
          description: "**READ-ONLY**: Whether job is active (computed field)."
          example: true
        alias:
          type: string
          description: "**READ-ONLY**: Job alias (auto-generated like W837054 or Q837054)."
          example: "Q0"
        running:
          type: boolean
          description: "**READ-ONLY**: Whether job is currently running (computed field)."
          example: false
        draft:
          type: boolean
          description: "**READ-ONLY**: Whether job is in draft state (computed field)."
          example: false
        segmented:
          type: boolean
          description: "**READ-ONLY**: Whether job uses segmentation (computed field)."
          example: false
        appenConnectCrowd:
          type: boolean
          description: "**READ-ONLY**: Whether using Appen Connect crowd (computed field)."
          example: false
        multipleJudgement:
          type: boolean
          description: "**READ-ONLY**: Whether multiple judgments enabled (computed from judgmentsPerRow > 1)."
          example: true
        dynamicJudgements:
          type: object
          nullable: true
          description: "**OPTIONAL**: Dynamic judgments configuration. Default: disabled."
          properties:
            enableDynamicJudgements:
              type: boolean
              description: "Enable dynamic judgment adjustment. Default: false."
              example: false
            maxDynamicJudgements:
              type: integer
              minimum: 1
              maximum: 10000
              description: "Max dynamic judgments allowed. Range: 1-10000."
              example: 10
            mode:
              type: string
              enum: [MINIMUM_CONFIDENCE, MATCHING_JUDGEMENTS]
              description: "Dynamic judgment mode. Default: MINIMUM_CONFIDENCE."
              example: "MINIMUM_CONFIDENCE"
            minimumConfidence:
              type: number
              format: float
              nullable: true
              minimum: 0
              maximum: 1.0
              description: "Confidence threshold. Default: 0.0 (disabled), Range: 0.0-1.0."
              example: 0.0
            matchingJudgements:
              type: integer
              nullable: true
              minimum: 1
              description: "Required matching judgments. Min: 1 when used."
              example: 3
            enabledQuestions:
              type: string
              description: "JSON string of enabled questions configuration."
              example: '{"question1": true}'
            id:
              type: string
              description: "Dynamic judgments configuration ID."
              example: ""
            version:
              type: integer
              description: "Dynamic judgments configuration version."
              example: 0

    Response:
      type: object
      required:
        - message
        - code
        - data
        - time
      properties:
        message:
          type: string
          description: Response message
          example: "success"
        code:
          type: integer
          description: HTTP status code
          example: 200
        data:
          description: Response data (type varies by endpoint)
        traceId:
          type: string
          nullable: true
          description: Request trace identifier for debugging
          example: null
        time:
          type: string
          format: date-time
          description: Response timestamp
          example: "2025-07-02T10:02:04.813876Z"
    UploadErrorCodes:
      type: object
      description: |
        Comprehensive list of error codes for the upload internal contributors API
      properties:
        "4001":
          type: string
          description: "File content is required - Input stream is null"
        "4002":
          type: string
          description: "File name is required - fileName parameter is null or empty"
        "4003":
          type: string
          description: "Invalid teamId format - teamId parameter is not in valid UUID format"
        "4501":
          type: string
          description: "Failed to get upload URL - Internal service error when generating presigned URL"
        "4502":
          type: string
          description: "Failed to upload file to S3 - Error during file upload to S3 storage"
        "4503":
          type: string
          description: "Failed to create batch job - Error when creating batch job for file processing"
        "4504":
          type: string
          description: "Failed to activate batch job - Error when activating the created batch job"
        "4505":
          type: string
          description: "File uploaded successfully but processing failed - General processing exception"
        "4506":
          type: string
          description: "Internal server error - Unexpected server error during processing"
        "4507":
          type: string
          description: "File processing failed - File processing returned FAILED, ERROR, INVALID, REJECTED status or timed out"
        "4508":
          type: string
          description: "Failed to get final file status - Error when retrieving final processing results"

tags:
  - name: Projects
    description: |
      Project management operations for organizing and structuring your data annotation workflows.

      - **Project Structure:**
        - Projects serve as containers for organizing related jobs and data
        - Each project belongs to a specific team and can contain multiple jobs
        - Projects provide a logical grouping for workflow management

      - **Key Operations:**
        - **Create Projects**: Initialize new project containers with a name.

      - **Project Components:**
        - **Jobs**: Individual annotation tasks within a project
        - **Units**: Data rows uploaded to projects for annotation
        - **Judgments**: Contributor responses collected on project units

      - **Project Lifecycle:**
        1. **Creation**: Initialize project with name and description
        2. **Configuration**: Set up project settings and access controls
        3. **Population**: Add jobs, upload units, and configure workflows
        4. **Execution**: Run jobs and collect judgments
        5. **Analysis**: Generate reports and analyze results

      - **Integration Points:**
        - **Job Management**: Create and manage jobs within projects
        - **Data Upload**: Upload units and datasets to projects
        - **Unit Operations**: List, filter, and manage project units
        - **Workflow Routing**: Send units between jobs within project
        - **Reporting**: Generate project/job-level analytics and reports

  - name: Upload
    description: |
      File upload operations for importing datasets and data into your projects and jobs.

      - **Dataset Upload Process:**
        - **Upload Files**: Send CSV files containing your data to existing projects
        - **Status Monitoring**: Track upload progress and completion status
        - **File Validation**: Automatic validation of CSV format, headers, and content

      - **Supported File Formats:**
        - **CSV Files**: Primary format for data import
        - **Encoding**: UTF-8 encoding recommended
        - **Headers**: Required column headers for data organization
        - **Data Types**: Text, numeric, date, and structured data support

      - **Upload Workflow:**
        1. **File Preparation**: Ensure CSV format with proper headers
        2. **Upload Initiation**: Send file to project with metadata
        3. **Processing**: System validates and processes the data
        4. **Status Polling**: Monitor status until completion
        5. **Data Integration**: Units become available for job assignments

      - **Key Features:**
        - **Batch Processing**: Handle large datasets efficiently
        - **Progress Tracking**: Real-time upload status monitoring
        - **Error Handling**: Detailed validation error messages
        - **File Management**: Track uploaded files and their metadata

      - **Integration Points:**
        - **Project Association**: Uploads are linked to specific projects
        - **Unit Creation**: Each row becomes a unit for annotation
        - **Job Routing**: Units can be sent to jobs for contributor work

  - name: Jobs
    description: |
      Job management operations for creating, configuring, and controlling data annotation workflows.

      - **Job Lifecycle Management:**
        - **Create Jobs**: Initialize new annotation tasks with project association and type specification
        - **Update Settings**: Modify job configuration, instructions, and workflow parameters
        - **Launch Jobs**: Activate jobs from DRAFT to RUNNING state for contributor access
        - **Pause Jobs**: Temporarily halt job execution while preserving progress

      - **Job Types Supported:**
        - **WORK**: Standard annotation jobs for tasks
        - **QA**: Quality assurance jobs for reviewing, validating work and providing the feedback.

      - **Job States:**
        1. **DRAFT**: Initial creation state, configurable but not accessible to contributors
        2. **RUNNING**: Active state where contributors can work on assignments
        3. **PAUSED**: Temporarily halted, preserving all progress and judgments      

  - name: Contributor Access URL Construction
    description: |
      ## Contributor Access URL Construction
      
      With this release, customers can now generate the Contributor Access URL programmatically.
      
      ### URL Structure
      ```
      https://account.appen.com/quality/tasks/{jobId}?secret={secret}
      ```
      
      ### Components
      - **Base URL**: `https://account.appen.com/quality/tasks/` (constant string)
      - **Job ID**: Returned in the response of the Create Job API (example: `2d215241-00bc-4453-bac3-449387a78190`)
      - **Secret**: Returned in the response of the Update Job Settings API (example: `xicPrChRfj28e7GLZiDykuTDQZqpJYv6QkBRLacU5bp4eE`)
      
      ### Example Construction
      ```
      https://account.appen.com/quality/tasks/2d215241-00bc-4453-bac3-449387a78190?secret=xicPrChRfj28e7GLZiDykuTDQZqpJYv6QkBRLacU5bp4eE
      ```



  - name: Route Units
    description: |
      Unit management operations for handling individual data rows and their distribution across jobs.

      - **Unit Operations:**
        - **List Units**: Retrieve and filter units within a project with pagination capabilities
        - **Send Units to Job**: Route units from projects to specific jobs for annotation work
        - **Unit Filtering**: Filter units by job status, dataset row type, and other criteria
        - **Bulk Operations**: Handle multiple units simultaneously for efficient workflow management

      - **Unit Types:**
        - **Individual Units**: Single data rows ready for annotation
        - **Unit Groups**: Collections of related units that can be processed together
        - **Dataset Rows**: Structured data from uploaded CSV files

      - **Key Features:**
        - **Advanced Filtering**: Filter by job status, dataset type
        - **Pagination Support**: Handle large datasets with efficient pagination
        - **Sorting Options**: Customizable sorting for better data organization
        - **Status Tracking**: Monitor unit status across different job assignments

      - **Unit Lifecycle Management:**
        1. **Creation**: Units are created when data is uploaded to projects
        2. **Assignment**: Units are distributed to jobs for contributor work
        3. **Processing**: Contributors annotate units and submit judgments
        4. **Routing**: Units can be moved between jobs (e.g., work to QA)
        5. **Completion**: Units receive required judgments and are marked complete


  - name: Download
    description: |
      Generate and download reports for either a single job or an entire project, and download datasets from projects.

      - **Choose scope with exactly one of:**
        - jobId: download a Job-level report
        - projectId: download a Project-level report or dataset
        (Do not send both.)

      - **Required query parameters:**
        - type: the report you want to generate or dataset to download
        - filename: the output file name (e.g., report.csv)

      - **How it works:**
        - When you trigger the API for the first time, the API returns 202 (in progress).
        - **You must call the same endpoint again with the exact same query parameters** to check the status. Repeat the request every 2-5 seconds until you receive a 200 response.
        - When the report is ready for download, the API returns 200 and streams the file directly in the response body.
        - **No separate URL fetch is needed** - the file content is streamed directly when ready (200 response).
        - The file is automatically saved to the path specified in your curl `-o` flag or your API tool's save location. 

      - **Supported report types:**
        **Job-level (use jobId):**
          - full: All individual judgments
          - json: JSON report with aggregated and raw judgments
          - aggregated: Aggregated results (requires request body; see below)
          - workset: Contributor (Workset) report
          - source: Original source data uploaded to the job
          - ai_detector_report_contributor_level
          - ai_detector_report_unit_level
          - test_question_report_contributor_level
          - k_alpha_report: Inter-annotator agreement (Krippendorff’s alpha)
          - contributor_scores_report: Contributor Scores Report

        **Project-level (use projectId):**
          - job_daily_report_project_level
          - contributor_report_project_level
          - source_report_project_level
          - json_report_project_level

        **Dataset Download (use projectId):**
          - DATA_SET: Unit View dataset with customizable unit selection and column filtering
          - JUDGMENT_DATA_SET: Judgment View dataset with customizable unit selection and column filtering
          - Supports filtering by unit IDs and column selection
          - Optional filter support with filterName and userId/akonId parameters
      
      - **Aggregated reports (type=aggregated, Job-level only):**
        - Provide a request body with aggregation rules for every judgment column:
          judgmentColumnAggregation: [
            { judgmentColumn, aggregationAlgorithm, parameter? }
          ]
        - aggregationAlgorithm must be one of:
          - AGG (Best Answer)
          - AGG_X (Top # Answers) → requires parameter.numberOfAnswers
          - CAGG_X (Confidence Score) → requires parameter.minimumConfidence (0–1)
          - ALL (All Answers)
          - AVG (Numeric Average)
        - Example: choose one algorithm per column (e.g., "_meta", "ask_question_here").

      - **File format:**
        - Most types return CSV files; type=json returns a JSON file.
        - The final file name uses the provided filename parameter.

      - **Authentication:**
        - Authorization: Token token=your-api-key

      - **Responses:**
        - 200: DONE with downloadableUrl (and Location header)
        - 202: Report generation in progress
        - 400/403/404/500: Error with details

  - name: Test Questions
    description: |
      Test question management operations for evaluating contributor performance and ensuring quality assurance in data annotation workflows.

      - **Key Operations:**
        - **Add Test Questions**: Create new test questions and link them to specific units
        - **Upload Test Questions**: Bulk upload test questions from CSV files
        - **Update Test Questions**: Modify existing test questions and its settings

      - **Test Question Features:**
        - **Enable/Disable**: Control whether test questions are active for contributor evaluation
        - **Hide/Show**: Manage visibility of test question answers and explanation
        - **Content Management**: Update question content, answers, and explanations
        - **Mode Configuration**: Set QUIZ, WORK, or QUIZ+WORK modes for different evaluation types
        - **Performance Tracking**: Monitor contributor scores metrics
        - **Calibration**: Ensure consistent annotation quality across different contributors

      - **Authentication:**
        - Authorization: Token token=your-api-key

      - **Common Responses:**
        - 200: Success with test question data
        - 400: Bad request - Invalid parameters or duplicate test questions
        - 403: Access denied
        - 404: Project, job, or test question not found
        - 500: Internal server error
    UpdateTestQuestionRequest:
      type: object
      required:
        - unitId
        - jobId
        - enableDisableMode
        - hideAnswerMode
        - quizWorkMode
        - minimumMatchingAccuracy
        - questions
      properties:
        unitId:
          type: string
          format: uuid
          description: Unique identifier of the unit containing the test question to update
          example: "f46c1c2f-e312-431b-9456-fbb18655e054"
        jobId:
          type: string
          format: uuid
          description: Unique identifier of the job that contains the test question
          example: "968bf9a6-f091-4804-b3ca-b5d0a4abf89b"
        enableDisableMode:
          type: boolean
          description: Whether the test question is enabled for contributor evaluation
          example: true
        hideAnswerMode:
          type: boolean
          description: Whether to hide the test question answers from contributors
          example: false
        quizWorkMode:
          type: string
          enum: [QUIZ, WORK, QUIZ_WORK]
          description: The mode in which the test question operates
          example: "QUIZ"
        minimumMatchingAccuracy:
          type: number
          format: double
          minimum: 0
          maximum: 100
          description: Minimum matching accuracy threshold as a percentage (0-100)
          example: 0
        questions:
          type: array
          items:
            $ref: '#/components/schemas/QuestionAnswerMapRequest'
          description: Array of test questions with their answers and explanations
          minItems: 1
    QuestionAnswerMapRequest:
      type: object
      required:
        - name
        - answer
        - reason
      properties:
        name:
          type: string
          description: The test question text/content
          example: "ask_question_here"
        answer:
          type: array
          items:
            type: string
          description: Array of correct answers for the test question
          example: ["first_option", "second_option"]
        reason:
          type: array
          items:
            type: string
          description: Array of explanations for each answer
          example: [""]

paths:
  /v3/jobs/jobs.json:
    post:
      tags:
        - Jobs
      summary: Create a new job
      description: |
        Initializes a new job within a project. Many fields are auto-populated and cannot be overridden.
        
        **Supported Job Types:**
        - **WORK**: Standard work jobs for data collection and annotation
        - **QA**: Quality assurance/Leading QA jobs
        
        **Current Limitations:**
        - Work Jobs requiring Ontology and qualification jobs will be supported in next version of the release
        - By default the created Jobs will be in 'Draft' status
        - Job type must be either WORK or QA (other types not supported)

      operationId: createJob
      x-codeSamples:
        - lang: curl
          label: Create Job
          source: |
            curl -X POST "https://api.appen.com/v3/jobs/jobs.json" \
              -H "Authorization: Token token=<your-api-key>" \
              -H "Content-Type: application/json" \
              -d '{
                "title": "Your Job Title",
                "projectId": "e74c1b9d-16ff-4a29-8c4c-e3147877de1b",
                "type": "WORK"
              }'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
                - projectId
                - type
              properties:
                title:
                  type: string
                  description: Title for the new job - must be unique within the project (required)
                  example: "Your Job Title"
                projectId:
                  type: string
                  format: uuid
                  description: ID of the project where the job will be created (required)
                  example: "e74c1b9d-16ff-4a29-8c4c-e3147877de1b"
                type:
                  type: string
                  description: Job type - must be either WORK or QA (required)
                  enum:
                    - WORK
                    - QA
                  example: "WORK"
            examples:
              work_job:
                summary: Create a WORK job
                value:
                  title: "My Work Job"
                  projectId: "e74c1b9d-16ff-4a29-8c4c-e3147877de1b"
                  type: "WORK"
              qa_job:
                summary: Create a QA job
                value:
                  title: "My QA Job"
                  projectId: "e74c1b9d-16ff-4a29-8c4c-e3147877de1b"
                  type: "QA"
      responses:
        '200':
          description: Job created successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/JobDTO'
              example:
                message: "success"
                data:
                  id: "68624cd9-8899-4107-bc3a-f69d91db4d3e"
                  projectId: "e74c1b9d-16ff-4a29-8c4c-e3147877de1b"
                  teamId: "f6c0b8cb-de69-495c-980b-2b0e0a6ca288"
                  title: "Your Job Title"
                  type: "WORK"
                  state: "DRAFT"
                  feedback: "DISABLED"
                  assignmentLeaseExpiry: 1800
                  rowsPerPage: 5
                  judgmentsPerRow: 1
                  sendBackOp: "SEND_BACK_TO_SAME_CONTRIBUTOR"
                  judgmentModifiable: false
                  allowSelfQa: false
                  allowAbandonUnits: true
                  createdAt: "2025-07-09T03:19:20Z"
                code: 200
                time: "2025-07-09T03:19:22Z"
        '400':
          description: Bad request - Missing required fields or validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                missing_project:
                  summary: Missing project
                  value:
                    timestamp: "2025-07-01T10:28:59.893+00:00"
                    status: 400
                    error: "Bad Request"
                    message: "Project is required"
                    path: "/v3/jobs/jobs.json"
                missing_title:
                  summary: Missing title
                  value:
                    timestamp: "2025-07-01T10:28:59.893+00:00"
                    status: 400
                    error: "Bad Request"
                    message: "Job title is required"
                    path: "/v3/jobs/jobs.json"
                invalid_project_id:
                  summary: Invalid project ID
                  value:
                    timestamp: "2025-07-01T10:28:59.893+00:00"
                    status: 400
                    error: "Bad Request"
                    message: "Invalid project Id"
                    path: "/v3/jobs/jobs.json"
                duplicate_title:
                  summary: Job title already exists
                  value:
                    timestamp: "2025-07-01T10:28:59.893+00:00"
                    status: 400
                    error: "Bad Request"
                    message: "Job title already exists"
                    path: "/v3/jobs/jobs.json"
                invalid_job_type:
                  summary: Invalid job type
                  value:
                    timestamp: "2025-07-01T10:28:59.893+00:00"
                    status: 400
                    error: "Bad Request"
                    message: "Job type must be either WORK or QA"
                    path: "/v3/jobs/jobs.json"
        '403':
          description: Forbidden - Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                timestamp: "2025-07-01T10:28:59.893+00:00"
                status: 403
                error: "Forbidden"
                message: "Access denied. Check your privileges."
                path: "/v3/jobs/jobs.json"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                timestamp: "2025-07-01T10:28:59.893+00:00"
                status: 500
                error: "Internal Server Error"
                message: "Failed to create job"
                path: "/v3/jobs/jobs.json"
      security:
        - TokenAuth: [ ]


  /v3/project-flow/projects/jobs/copy-job:
    post:
      tags:
        - Jobs
      summary: Copy an existing job within a project
      description: |
        Creates a copy of an existing job within the same project.
        This endpoint allows you to duplicate job configurations including design, contributor settings, 
        and row settings, making it easy to create similar jobs without starting from scratch.
        
        **What gets copied:**
        - Basic job metadata (title, type, description)
        - Job design/CML configuration (if `DESIGN` is included in `types`)
        - Contributor settings (if `CROWD_SETTINGS` is included in `types`)
        - Row settings and pricing configuration (if `PRICE_AND_ROW` is included in `types`)
        - Quality/Leading QA settings (if `QUALITY_SETTINGS` is included in `types`)
        
        **Important Notes:**
        - The copied job will be created in `DRAFT` status
        - Jobs can only be copied within the same project (source job and target project must match)
        - The job title must be unique within the project
        - The `appendTo` field must be set to `project_data_source`
        
        **Limitations**
        - Only WORK jobs and Leading QA jobs can be copied. Copying of following QA jobs will be supported in the further releases. 
        
        **Validation:**
        - Only allowed values for `types`: `DESIGN`, `CROWD_SETTINGS`, `PRICE_AND_ROW`, `QUALITY_SETTINGS`
        - `QUALITY_SETTINGS` can only be used when copying from a QA/Leading QA job (not WORK jobs)

      operationId: copyJob
      x-codeSamples:
        - lang: curl
          label: Copy WORK Job with All Settings
          source: |
            curl -X POST "https://api.appen.com/v3/project-flow/projects/jobs/copy-job?teamId=f6c0b8cb-de69-495c-980b-2b0e0a6ca288" \
              -H "Authorization: Token token=<your-api-key>" \
              -H "Content-Type: application/json" \
              -d '{
                "copiedFrom": "63311198-5481-4312-ae33-f9fcf1423191",
                "projectId": "fbff3f10-7105-4e52-afef-00fe21a3100e",
                "title": "Copy of My Work Job",
                "appendTo": "project_data_source",
                "types": ["DESIGN", "CROWD_SETTINGS", "PRICE_AND_ROW"]
              }'
        - lang: curl
          label: Copy Leading QA Job with All Settings
          source: |
            curl -X POST "https://api.appen.com/v3/project-flow/projects/jobs/copy-job?teamId=cf22e84f-06c8-4955-b626-1c47d245a176" \
              -H "Authorization: Token token=<your-api-key>" \
              -H "Content-Type: application/json" \
              -d '{
                "copiedFrom": "e19bc365-aa0e-4a23-9188-a2ac11b7016d",
                "projectId": "567ac5fa-b7bf-454c-9459-4e878a5b0280",
                "title": "Copy of Leading QA Job",
                "appendTo": "project_data_source",
                "types": ["QUALITY_SETTINGS", "DESIGN", "CROWD_SETTINGS", "PRICE_AND_ROW"]
              }'
        - lang: curl
          label: Copy Job with Design Only
          source: |
            curl -X POST "https://api.appen.com/v3/project-flow/projects/jobs/copy-job?teamId=f6c0b8cb-de69-495c-980b-2b0e0a6ca288" \
              -H "Authorization: Token token=<your-api-key>" \
              -H "Content-Type: application/json" \
              -d '{
                "copiedFrom": "63311198-5481-4312-ae33-f9fcf1423191",
                "projectId": "fbff3f10-7105-4e52-afef-00fe21a3100e",
                "title": "Job with Same Design",
                "appendTo": "project_data_source",
                "types": ["DESIGN"]
              }'
        - lang: curl
          label: Copy Job with Crowd Settings Only
          source: |
            curl -X POST "https://api.appen.com/v3/project-flow/projects/jobs/copy-job?teamId=f6c0b8cb-de69-495c-980b-2b0e0a6ca288" \
              -H "Authorization: Token token=<your-api-key>" \
              -H "Content-Type: application/json" \
              -d '{
                "copiedFrom": "63311198-5481-4312-ae33-f9fcf1423191",
                "projectId": "fbff3f10-7105-4e52-afef-00fe21a3100e",
                "title": "Job with Same Crowd Settings",
                "appendTo": "project_data_source",
                "types": ["CROWD_SETTINGS"]
              }'
        - lang: curl
          label: Copy Job with Row Settings Only
          source: |
            curl -X POST "https://api.appen.com/v3/project-flow/projects/jobs/copy-job?teamId=f6c0b8cb-de69-495c-980b-2b0e0a6ca288" \
              -H "Authorization: Token token=<your-api-key>" \
              -H "Content-Type: application/json" \
              -d '{
                "copiedFrom": "63311198-5481-4312-ae33-f9fcf1423191",
                "projectId": "fbff3f10-7105-4e52-afef-00fe21a3100e",
                "title": "Job with Same Row Settings",
                "appendTo": "project_data_source",
                "types": ["PRICE_AND_ROW"]
              }'
      parameters:
        - name: teamId
          in: query
          required: true
          description: The team ID that owns both the source job and target project
          schema:
            type: string
            format: uuid
          example: "f6c0b8cb-de69-495c-980b-2b0e0a6ca288"
      requestBody:
        required: true
        description: |
          Job copy configuration specifying the source job, target project, new job title, 
          and which components to copy.
        content:
          application/json:
            schema:
              type: object
              required:
                - copiedFrom
                - projectId
                - title
              properties:
                copiedFrom:
                  type: string
                  format: uuid
                  description: ID of the source job to copy from (required)
                  example: "63311198-5481-4312-ae33-f9fcf1423191"
                projectId:
                  type: string
                  format: uuid
                  description: ID of the target project where the job will be created (required)
                  example: "fbff3f10-7105-4e52-afef-00fe21a3100e"
                title:
                  type: string
                  description: Title for the new job - must be unique within the target project (required)
                  example: "Copy of My Job"
                  maxLength: 255
                appendTo:
                  type: string
                  description: Data source type - must be 'project_data_source'
                  enum:
                    - project_data_source
                  default: "project_data_source"
                  example: "project_data_source"
                types:
                  type: array
                  description: |
                    Components to copy from the source job. Leave empty to copy basic structure only.
                    - **DESIGN**: Copy job design/CML configuration
                    - **CROWD_SETTINGS**: Copy contributor settings
                    - **PRICE_AND_ROW**: Copy row settings and pricing configuration
                    - **QUALITY_SETTINGS**: Copy quality/leading QA settings
                  items:
                    type: string
                    enum:
                      - DESIGN
                      - CROWD_SETTINGS
                      - PRICE_AND_ROW
                      - QUALITY_SETTINGS
                  example: ["DESIGN", "CROWD_SETTINGS", "PRICE_AND_ROW", "QUALITY_SETTINGS"]
            examples:
              work_job_full_copy:
                summary: Copy WORK job with all settings
                value:
                  copiedFrom: "63311198-5481-4312-ae33-f9fcf1423191"
                  projectId: "fbff3f10-7105-4e52-afef-00fe21a3100e"
                  title: "Copy of Work Job"
                  appendTo: "project_data_source"
                  types: ["DESIGN", "CROWD_SETTINGS", "PRICE_AND_ROW"]
              qa_job_full_copy:
                summary: Copy Leading QA job with all settings including quality settings
                value:
                  copiedFrom: "e19bc365-aa0e-4a23-9188-a2ac11b7016d"
                  projectId: "567ac5fa-b7bf-454c-9459-4e878a5b0280"
                  title: "Copy of Leading QA Job"
                  appendTo: "project_data_source"
                  types: ["QUALITY_SETTINGS", "DESIGN", "CROWD_SETTINGS", "PRICE_AND_ROW"]
              design_only:
                summary: Copy design/CML only
                value:
                  copiedFrom: "63311198-5481-4312-ae33-f9fcf1423191"
                  projectId: "fbff3f10-7105-4e52-afef-00fe21a3100e"
                  title: "Job with Same Design"
                  appendTo: "project_data_source"
                  types: ["DESIGN"]
              crowd_settings_only:
                summary: Copy crowd/contributor settings only
                value:
                  copiedFrom: "63311198-5481-4312-ae33-f9fcf1423191"
                  projectId: "fbff3f10-7105-4e52-afef-00fe21a3100e"
                  title: "Job with Same Crowd Settings"
                  appendTo: "project_data_source"
                  types: ["CROWD_SETTINGS"]
              row_settings_only:
                summary: Copy row settings and pricing only
                value:
                  copiedFrom: "63311198-5481-4312-ae33-f9fcf1423191"
                  projectId: "fbff3f10-7105-4e52-afef-00fe21a3100e"
                  title: "Job with Same Row Settings"
                  appendTo: "project_data_source"
                  types: ["PRICE_AND_ROW"]
      responses:
        '200':
          description: Job copied successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: "Job copied successfully"
                  data:
                    $ref: '#/components/schemas/JobDTO'
                  traceId:
                    type: string
                    description: Trace ID for tracking the request
                    example: "abc-123-xyz"
                  timestamp:
                    type: string
                    format: date-time
                    example: "2025-10-21T07:46:52.429060Z"
              example:
                status: 200
                message: "Job copied successfully"
                data:
                  id: "789d7bc2-2c7b-48ee-89f1-9e99cfcc9b3b"
                  version: 2
                  projectId: "61ffd5af-cada-4452-a80b-57b46ded1958"
                  teamId: "cf22e84f-06c8-4955-b626-1c47d245a176"
                  title: "Copy of job1"
                  displayId: null
                  cycleNumber: 0
                  feedback: "DISABLED"
                  flowId: "789d7bc2-2c7b-48ee-89f1-9e99cfcc9b3b"
                  type: "QA"
                  state: "DRAFT"
                  activeStatus: "ACTIVE"
                  assignmentLeaseExpiry: 1200
                  judgmentsPerRow: 1
                  rowsPerPage: 10
                  displayContributorName: null
                  judgmentModifiable: false
                  sendBackOp: "NO_OP"
                  copiedFrom: "2ec45e4f-3a2d-4fd1-b3d7-ab36f6cb1e0a"
                  maxJudgmentPerContributorEnabled: false
                  maxJudgmentPerContributor: 0
                  maxSkippablePromptNum: 0
                  unitSegmentType: "UNIT_ONLY"
                  internalSecret: "OwHv0Ohwaq3BSLHeIqsazG2kjKrE9KB1ZmLWsAK7AaiJZC"
                  jobCml: null
                  jobFilter: null
                  jobCrowd: null
                  testQuestionSettings: null
                  operateHistoryId: "a75eb471-007c-464e-adb1-cf144ecca3a7"
                  payRateType: ""
                  invoiceStatisticsType: "UNIT_COUNT"
                  createdAt: "2025-10-23T06:40:58.949371Z"
                  allowSelfQa: true
                  allowAbandonUnits: true
                  maxNumberOfAllowedAbandonment: 3
                  sendAbandonedUnitsBackToJob: true
                  instruction: ""
                  validationRuleId: null
                  enableBlueTooth: false
                  launchPlatform: []
                  latestAppVersion: false
                  reusablePrompt: false
                  reusablePin: false
                  totalSessionNumber: 0
                  firstLaunchTime: null
                  promptsEnabling: null
                  reviewReasons: ""
                  reviewReasonOption: "SINGLE"
                  parentJobId: null
                  unitGroupOption: "IGNORE"
                  appendable: false
                  enableShareLink: false
                  timeLimitThresholdSec: 30
                  enableExternalAutoAssignJob: true
                  dynamicJudgements:
                    enableDynamicJudgements: false
                    maxDynamicJudgements: 0
                    mode: "MINIMUM_CONFIDENCE"
                    minimumConfidence: 0.0
                    enabledQuestions: "{}"
                    id: ""
                    version: 0
                  enableExpirationTime: 0
                  expirationDurationSet: 0
                  expirationDurationUpdate: 0
                  threshold: 0.0
                  qaAdvancedOptions: null
                  active: true
                  multipleJudgment: false
                  appenConnectCrowd: false
                  running: false
                  alias: "Qnull"
                  draft: true
                  segmented: false
                traceId: "dc275948571ddd43"
                timestamp: "2025-10-23T06:40:59.281366Z"
        '400':
          description: Bad request - Missing required fields, invalid field values, or validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                missing_copied_from:
                  summary: Missing copiedFrom field
                  value:
                    timestamp: "2025-10-21T07:46:52.429060Z"
                    status: 400
                    errorCode: 4001
                    error: "Bad Request"
                    message: "copiedFrom is required"
                    path: "/v3/project-flow/projects/jobs/copy-job"
                    traceId: "abc-123-xyz"
                missing_project_id:
                  summary: Missing projectId field
                  value:
                    timestamp: "2025-10-21T07:46:52.429060Z"
                    status: 400
                    errorCode: 4001
                    error: "Bad Request"
                    message: "projectId is required"
                    path: "/v3/project-flow/projects/jobs/copy-job"
                    traceId: "abc-123-xyz"
                missing_title:
                  summary: Missing title field
                  value:
                    timestamp: "2025-10-21T07:46:52.429060Z"
                    status: 400
                    errorCode: 4001
                    error: "Bad Request"
                    message: "title is required"
                    path: "/v3/project-flow/projects/jobs/copy-job"
                    traceId: "abc-123-xyz"
                invalid_append_to:
                  summary: Invalid appendTo value
                  value:
                    timestamp: "2025-10-21T07:46:52.429060Z"
                    status: 400
                    errorCode: 4002
                    error: "Bad Request"
                    message: "Invalid appendTo value. Must be 'project_data_source'"
                    path: "/v3/project-flow/projects/jobs/copy-job"
                    traceId: "abc-123-xyz"
                invalid_types:
                  summary: Invalid types value
                  value:
                    timestamp: "2025-10-21T07:46:52.429060Z"
                    status: 400
                    errorCode: 4002
                    error: "Bad Request"
                    message: "Invalid type value: 'INVALID_TYPE'. Allowed values are: DESIGN, CROWD_SETTINGS, PRICE_AND_ROW, QUALITY_SETTINGS"
                    path: "/v3/project-flow/projects/jobs/copy-job"
                    traceId: "abc-123-xyz"
                quality_settings_work_job:
                  summary: QUALITY_SETTINGS not allowed for WORK jobs
                  value:
                    timestamp: "2025-10-21T07:46:52.429060Z"
                    status: 400
                    errorCode: 4002
                    error: "Bad Request"
                    message: "QUALITY_SETTINGS can only be copied from QA/Leading QA jobs. Source job type is: WORK"
                    path: "/v3/project-flow/projects/jobs/copy-job"
                    traceId: "abc-123-xyz"
                no_project_association:
                  summary: Source job has no project association
                  value:
                    timestamp: "2025-10-21T07:46:52.429060Z"
                    status: 400
                    errorCode: 4006
                    error: "Bad Request"
                    message: "Source job does not have a valid project association"
                    path: "/v3/project-flow/projects/jobs/copy-job"
                    traceId: "abc-123-xyz"
                cross_project_copy:
                  summary: Cannot copy job to different project
                  value:
                    timestamp: "2025-10-21T07:46:52.429060Z"
                    status: 400
                    errorCode: 4007
                    error: "Bad Request"
                    message: "Jobs can only be copied within the same project. Source job belongs to project: fbff3f10-7105-4e52-afef-00fe21a3100e"
                    path: "/v3/project-flow/projects/jobs/copy-job"
                    traceId: "abc-123-xyz"
        '403':
          description: Forbidden - Team does not have access to source job or target project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                source_job_forbidden:
                  summary: Source job belongs to different team
                  value:
                    timestamp: "2025-10-21T07:46:52.429060Z"
                    status: 403
                    errorCode: 4003
                    error: "Forbidden"
                    message: "Source job does not belong to the specified team"
                    path: "/v3/project-flow/projects/jobs/copy-job"
                    traceId: "abc-123-xyz"
                target_project_forbidden:
                  summary: Target project belongs to different team
                  value:
                    timestamp: "2025-10-21T07:46:52.429060Z"
                    status: 403
                    errorCode: 4003
                    error: "Forbidden"
                    message: "Target project does not belong to the specified team"
                    path: "/v3/project-flow/projects/jobs/copy-job"
                    traceId: "abc-123-xyz"
        '404':
          description: Not found - Source job or target project does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                source_job_not_found:
                  summary: Source job not found
                  value:
                    timestamp: "2025-10-21T07:46:52.429060Z"
                    status: 404
                    errorCode: 4004
                    error: "Not Found"
                    message: "Source job not found: 63311198-5481-4312-ae33-f9fcf1423191"
                    path: "/v3/project-flow/projects/jobs/copy-job"
                    traceId: "abc-123-xyz"
                target_project_not_found:
                  summary: Target project not found
                  value:
                    timestamp: "2025-10-21T07:46:52.429060Z"
                    status: 404
                    errorCode: 4005
                    error: "Not Found"
                    message: "Target project not found: fbff3f10-7105-4e52-afef-00fe21a3100e"
                    path: "/v3/project-flow/projects/jobs/copy-job"
                    traceId: "abc-123-xyz"
        '409':
          description: Conflict - Job title already exists in target project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                timestamp: "2025-10-21T07:46:52.429060Z"
                status: 409
                errorCode: 4009
                error: "Conflict"
                message: "A job with the title 'Copy of My Job' already exists in the target project"
                path: "/v3/project-flow/projects/jobs/copy-job"
                traceId: "abc-123-xyz"
        '422':
          description: Unprocessable entity - Business rule violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                timestamp: "2025-10-21T07:46:52.429060Z"
                status: 422
                error: "Unprocessable Entity"
                message: "Cannot copy job due to business rule violation"
                path: "/v3/project-flow/projects/jobs/copy-job"
                traceId: "abc-123-xyz"
        '500':
          description: Internal server error - Failed to copy job
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                timestamp: "2025-10-21T07:46:52.429060Z"
                status: 500
                errorCode: 4500
                error: "Internal Server Error"
                message: "Failed to copy job: Internal service error"
                path: "/v3/project-flow/projects/jobs/copy-job"
                traceId: "abc-123-xyz"
      security:
        - TokenAuth: [ ]


  /v3/project-flow/projects/jobs/status:
    get:
      tags:
        - Jobs
      summary: Get job status
      description: |
        Retrieves the current status and progress metrics for a specific job.
        
        This endpoint provides comprehensive job progress information including:
        - **Completion percentage**: Overall job completion progress (0-100%)
        - **Unit statistics**: Total units and submitted units in the job
        - **Judgment statistics**: Total and submitted judgments for the job
        - **Test questions**: Total available test questions for the job
        
        **Supported Job Types:**
        - WORK jobs
        - QA jobs

      operationId: getJobStatus
      x-codeSamples:
        - lang: curl
          label: Get Job Status
          source: |
            curl -X GET "https://api.appen.com/v3/project-flow/projects/jobs/status?teamId=cf22e84f-06c8-4955-b626-1c47d245a176&jobId=db66f1e3-7260-45a8-b8c6-9359bbdbfd3f" \
              -H "Authorization: Token token=<your-api-key>"
      parameters:
        - name: teamId
          in: query
          required: true
          description: The unique identifier for your team
          schema:
            type: string
            format: uuid
            example: "cf22e84f-06c8-4955-b626-1c47d245a176"
        - name: jobId
          in: query
          required: true
          description: The unique identifier of the job to get status for
          schema:
            type: string
            format: uuid
            example: "db66f1e3-7260-45a8-b8c6-9359bbdbfd3f"
      responses:
        '200':
          description: Job status retrieved successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - jobId
                  - jobTitle
                  - completionPercentage
                  - totalUnits
                  - submittedUnits
                  - totalJudgments
                  - submittedJudgments
                  - totalTestQuestions
                  - lastUpdated
                  - status
                  - message
                  - traceId
                  - timestamp
                properties:
                  jobId:
                    type: string
                    format: uuid
                    description: Unique identifier of the job
                    example: "db66f1e3-7260-45a8-b8c6-9359bbdbfd3f"
                  jobTitle:
                    type: string
                    description: Title of the job
                    example: "work"
                  completionPercentage:
                    type: integer
                    minimum: 0
                    maximum: 100
                    description: Job completion percentage (0-100)
                    example: 50
                  totalUnits:
                    type: integer
                    format: int64
                    minimum: 0
                    description: Total number of units in the job
                    example: 8
                  submittedUnits:
                    type: integer
                    format: int64
                    minimum: 0
                    description: Number of units that have been submitted/finalized
                    example: 4
                  totalJudgments:
                    type: integer
                    format: int64
                    minimum: 0
                    description: Total number of judgments expected for the job
                    example: 17
                  submittedJudgments:
                    type: integer
                    format: int64
                    minimum: 0
                    description: Number of judgments that have been submitted (COMMITTED status)
                    example: 8
                  totalTestQuestions:
                    type: integer
                    minimum: 0
                    description: Total number of available test questions for the job
                    example: 3
                  lastUpdated:
                    type: string
                    format: date-time
                    description: Timestamp when the status was last updated
                    example: "2025-10-29T04:00:48.659850Z"
                  status:
                    type: integer
                    description: HTTP status code
                    example: 200
                  message:
                    type: string
                    description: Response message
                    example: "Job status retrieved successfully"
                  traceId:
                    type: string
                    description: Unique trace ID for request tracking
                    example: "f05188f693ea9ad8b10c9d43e202e06f"
                  timestamp:
                    type: string
                    format: date-time
                    description: Response generation timestamp
                    example: "2025-10-29T04:00:48.662217Z"
              examples:
                successful_response:
                  summary: Successful job status response
                  value:
                    jobId: "db66f1e3-7260-45a8-b8c6-9359bbdbfd3f"
                    jobTitle: "work"
                    completionPercentage: 50
                    totalUnits: 8
                    submittedUnits: 4
                    totalJudgments: 17
                    submittedJudgments: 8
                    totalTestQuestions: 3
                    lastUpdated: "2025-10-29T04:00:48.659850Z"
                    status: 200
                    message: "Job status retrieved successfully"
                    traceId: "f05188f693ea9ad8b10c9d43e202e06f"
                    timestamp: "2025-10-29T04:00:48.662217Z"
        '400':
          description: Bad request - Missing or invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                missing_team_id:
                  summary: Missing teamId parameter
                  value:
                    timestamp: "2025-10-29T04:00:48.662217Z"
                    status: 400
                    errorCode: 4001
                    error: "Bad Request"
                    message: "teamId is required"
                    path: "/v3/projects/jobs/status"
                    traceId: "abc-123-xyz"
                missing_job_id:
                  summary: Missing jobId parameter
                  value:
                    timestamp: "2025-10-29T04:00:48.662217Z"
                    status: 400
                    errorCode: 4001
                    error: "Bad Request"
                    message: "jobId is required"
                    path: "/v3/projects/jobs/status"
                    traceId: "abc-123-xyz"
                no_project_association:
                  summary: Job has no associated project
                  value:
                    timestamp: "2025-10-29T04:00:48.662217Z"
                    status: 400
                    errorCode: 4006
                    error: "Bad Request"
                    message: "Job has no associated project"
                    path: "/v3/projects/jobs/status"
                    traceId: "abc-123-xyz"
        '403':
          description: Forbidden - Team does not have access to the job
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                team_forbidden:
                  summary: Team does not have access to job
                  value:
                    timestamp: "2025-10-29T04:00:48.662217Z"
                    status: 403
                    errorCode: 4003
                    error: "Forbidden"
                    message: "Team does not have access to this job"
                    path: "/v3/projects/jobs/status"
                    traceId: "abc-123-xyz"
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                job_not_found:
                  summary: Job not found
                  value:
                    timestamp: "2025-10-29T04:00:48.662217Z"
                    status: 404
                    errorCode: 4004
                    error: "Not Found"
                    message: "Job not found: db66f1e3-7260-45a8-b8c6-9359bbdbfd3f"
                    path: "/v3/projects/jobs/status"
                    traceId: "abc-123-xyz"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                internal_error:
                  summary: Internal server error
                  value:
                    timestamp: "2025-10-29T04:00:48.662217Z"
                    status: 500
                    errorCode: 4500
                    error: "Internal Server Error"
                    message: "An unexpected error occurred"
                    path: "/v3/projects/jobs/status"
                    traceId: "abc-123-xyz"
      security:
        - TokenAuth: [ ]


  /v3/jobs/update:
    put:
      tags:
        - Jobs
      summary: Update job settings
      description: |
        Updates job settings for the specified team. This endpoint allows you to modify various job properties
        including basic settings, validation rules, expiration settings, and dynamic judgement configuration.
        
        ## Mandatory Fields
        The following fields are **mandatory** and must be provided in every update request:
        - `id` - The unique job identifier
        - `projectId` - Project identifier this job belongs to  
        - `teamId` - Team identifier that owns the job
        - `title` - Job title (must be unique within the project)
        - `type` - Job type (WORK or QA)

        ## Necessary Fields
        The following are important fields that must be updated in every job settings
        - `assignmentLeaseExpiry` - Assignment lease in seconds
        - `judgmentsPerRow` - Judgments per row
        - `rowsPerPage` - Rows per page
        - `enableShareLink` - Must be set to true to retrieve the job's `internalSecret`
        
        ## Optional
        - Omitting a field leaves the current value unchanged
        - `timeLimitThresholdSec`: 0 (disabled)
        - `enableExpirationTime`: 0 (disabled)
        - `expirationDurationSet`: 0 (disabled)
        - `expirationDurationUpdate`: 0 (disabled)
        - `dynamicJudgements.minimumConfidence`: 0.0 (disabled)
        - `dynamicJudgements.maxDynamicJudgements`: 0
        - Counts (e.g., maxJudgmentPerContributor, maxNumberOfAllowedAbandonment): 0 allowed (non-negative)
        
        ## Validations
        - Team ID: Body `teamId` must match query `teamId`
        - Title: Must be unique within project (duplicate → error 60080)
        - Assignment lease expiry: integer seconds, minimum 60
        - Judgments per row: integer ≥ 1; Rows per page: integer ≥ 1
        - Time limit threshold (`timeLimitThresholdSec`): percentage 0–100 (0 = disabled)
        - Expiration: `enableExpirationTime` (0 = disabled, > 0 = enabled). When enabled, `expirationDurationSet` and
          `expirationDurationUpdate` must be > 0. All expiration fields accept 0 (disabled)
        - Dynamic judgements: `minimumConfidence` 0.0–1.0 (0 = disabled). Mode MINIMUM_CONFIDENCE requires
          `minimumConfidence`; mode MATCHING_JUDGEMENTS requires `matchingJudgements`. Do not provide both
        - Enable Share Link: boolean; when true, shareable link generation is enabled for the job
        - CML (if provided in `jobCml.cml`): must contain at least one `<cml:*>` element; payload < 2MB; disallows
          `<script>`/`javascript:`; attribute values must be quoted. When `dynamicJudgements.enableDynamicJudgements = true`,
          at least one labeled CML question (`label` attribute) is required. When false, labels are not required. If embedding
          CML in JSON, escape quotes (") and backslashes (\\)
        
        ## Limitations
        - Settings related to Test Questions, Management of Internal/External contributors, CSS and JS for CML design will be supported in next version of the release
        
        Common errors:
        - 400: Missing required fields, invalid values, or mismatched teamId.
        - 60080: Job title already exists in project.
        - 60000: Job not found or access denied.
        - 500: Internal error (ensure required fields are present and valid).

      operationId: updateJob
      parameters:
        - name: teamId
          in: query
          required: true
          schema:
            type: string
            maxLength: 50
          description: |
            Required: Team identifier that owns the job. Must match the `teamId` in the request body.
          example: "team-123e4567-e89b-12d3-a456-426614174000"
      x-codeSamples:
        - lang: curl
          label: Update Basic Job Settings
          source: |
            curl --location --request PUT 'https://api.appen.com/v3/jobs/update?teamId=ceb94637-a8d4-4bbd-877c-cc260a4212aa' \
            --header 'Authorization: Token token=<your-api-key>' \
            --header 'Content-Type: application/json' \
            --data '{
                "id":"5d63a9fb-e44c-449e-9778-94f32001baaa",
                "version":2,
                "projectId":"b41d5f3c-8622-4f6a-a272-c0a7a2a60d88",
                "teamId":"ceb94637-a8d4-4bbd-877c-cc260a4212aa",
                "title":"Updated Job sep",
                "displayId":512177,
                "cycleNumber":0,
                "feedback":"DISABLED",
                "flowId":"5d63a9fb-e44c-449e-9778-94f32001baaa",
                "type":"WORK",
                "state":"DRAFT",
                "activeStatus":"ACTIVE",
                "assignmentLeaseExpiry":1800,
                "judgmentsPerRow":1,
                "rowsPerPage":5,
                "displayContributorName":null,
                "judgmentModifiable":false,
                "sendBackOp":"SEND_BACK_TO_SAME_CONTRIBUTOR",
                "copiedFrom":null,
                "maxJudgmentPerContributorEnabled":false,
                "maxJudgmentPerContributor":0,
                "maxSkippablePromptNum":0,
                "unitSegmentType":null,
                "internalSecret":"hm9S2hnizhS6qPfOeQKVYRClVYFd4Lffplddn9uQ4mqgqq",
                "jobCml": {
                    "id": "a265956a-c323-41f1-8286-df2266ff1dd0",
                    "version": 0,
                    "teamId": "f6c0b8cb-de69-495c-980b-2b0e0a6ca288",
                    "jobId": "cf2df8d7-01ed-4ec7-9e6b-31d3c3aa669b",
                    "instructions": "<h1>Overview</h1>\n<hr/>\n\n<h1>Steps</h1>\n<hr/>\n\n<h1>Rules &amp; Tips</h1>\n<hr/>\n\n<h1>Examples</h1>\n<hr/>\n\n",
                    "cml": "<cml:select label=\"Sample select box:\" validates=\"required\" name=\"sample_select\" type=\"['\\''select'\\'']\"><cml:option label=\"Option 1\" value=\"option_1\" /><cml:option label=\"Option 2\" value=\"option_2\" /><cml:option label=\"Option 3\" value=\"option_3\" /></cml:select>",
                    "js": "",
                    "css": "",
                    "validators": [
                        "required"
                    ],
                    "isValid": null,
                    "tags": [
                        "image_transcription"
                    ],
                    "editorType": "CODE_EDITOR"
                },
                "jobCrowd": {
                  "id":"24d43e45-54f9-4027-a178-f3e624a60ef1",
                  "version":0,
                  "projectId":"b41d5f3c-8622-4f6a-a272-c0a7a2a60d88",
                  "jobId":"5d63a9fb-e44c-449e-9778-94f32001baaa",
                  "teamId":"ceb94637-a8d4-4bbd-877c-cc260a4212aa",
                  "crowdType":["INTERNAL"],
                  "crowdSubType":null,
                  "channels":[],
                  "customChannels":[],
                  "level":0,
                  "languages":[],
                  "countryType":"all",
                  "countries":[],
                  "containExplicit":false,
                  "curatedCrowd":false
                },
                "testQuestionSettings":null,
                "operateHistoryId":"af6eb6b7-fe79-472c-96ed-e629796b7697",
                "payRateType":"",
                "invoiceStatisticsType":"UNIT_COUNT",
                "createdAt":"2025-09-01T09:39:18.663680Z",
                "allowSelfQa":false,
                "allowAbandonUnits":true,
                "maxNumberOfAllowedAbandonment":3,
                "sendAbandonedUnitsBackToJob":true,
                "instruction":"",
                "validationRuleId":null,
                "enableBlueTooth":false,
                "launchPlatform":[],
                "latestAppVersion":false,
                "reusablePrompt":false,
                "reusablePin":false,
                "totalSessionNumber":1,
                "firstLaunchTime":null,
                "promptsEnabling":null,
                "reviewReasons":"",
                "reviewReasonOption":"SINGLE",
                "parentJobId":null,
                "unitGroupOption":"RETAIN",
                "appendable":false,
                "enableShareLink":false,
                "timeLimitThresholdSec":0,
                "enableExternalAutoAssignJob":true,
                "enableExpirationTime":0,
                "expirationDurationSet":0,
                "expirationDurationUpdate":0,
                "threshold":0.0,
                "qaAdvancedOptions":null,
                "active":true,
                "running":false,
                "alias":"W512177",
                "appenConnectCrowd":false,
                "draft":true,
                "multipleJudgment":false,
                "segmented":false
              }'
        - lang: curl
          label: Mandatory fields only
          source: |
            curl --location --request PUT 'https://api.appen.com/v3/jobs/update?teamId=ceb94637-a8d4-4bbd-877c-cc260a4212aa' \
            --header 'Authorization: Token token=<your-api-key>' \
            --header 'Content-Type: application/json' \
            --data '{
                "id":"5d63a9fb-e44c-449e-9778-94f32001baaa",
                "projectId":"b41d5f3c-8622-4f6a-a272-c0a7a2a60d88",
                "teamId":"ceb94637-a8d4-4bbd-877c-cc260a4212aa",
                "title":"Updated Job sep",
                "type":"WORK"
            }'
        - lang: curl
          label: Required +Mandatory fields
          source: |
            curl --location --request PUT 'https://api.appen.com/v3/jobs/update?teamId=ceb94637-a8d4-4bbd-877c-cc260a4212aa' \
            --header 'Authorization: Token token=<your-api-key>' \
            --header 'Content-Type: application/json' \
            --data '{
                "id":"5d63a9fb-e44c-449e-9778-94f32001baaa",
                "projectId":"b41d5f3c-8622-4f6a-a272-c0a7a2a60d88",
                "teamId":"ceb94637-a8d4-4bbd-877c-cc260a4212aa",
                "title":"Updated Job sep",
                "type":"WORK",
                "assignmentLeaseExpiry":1800,
                "judgmentsPerRow":1,
                "rowsPerPage":5
            }'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobDTO'
            example:
              id: "6a4f9e1f-944e-452f-b743-74067e163ebb"
              version: 7
              projectId: "744296ff-5286-40e4-b867-1141914fd059"
              teamId: "f6c0b8cb-de69-495c-980b-2b0e0a6ca288"
              title: "Updated Job Title"
              type: "WORK"
              assignmentLeaseExpiry: 120
              judgmentsPerRow: 1
              rowsPerPage: 5
              judgmentModifiable: false
              sendBackOp: "SEND_BACK_TO_SAME_CONTRIBUTOR"
              maxJudgmentPerContributorEnabled: false
              maxJudgmentPerContributor: 0
              unitSegmentType: null
              jobCml:
                id: "25ad1fb7-fc9e-4861-806e-7386b80f0269"
                version: 20
                teamId: "f6c0b8cb-de69-495c-980b-2b0e0a6ca288"
                jobId: "6a4f9e1f-944e-452f-b743-74067e163ebb"
                instructions: "<h1>Overview</h1><p>Main&nbsp;<img src=\"/v1/refs/file?valueRef=shared/rWD3rAUsfVJjG6T99QE2mw.png&amp;storageToken=\" style=\"width: 300px;\" class=\"fr-fic fr-dib\"></p><hr><h1>Steps</h1><hr><h1>Rules &amp; Tips</h1><hr><h1>Examples</h1><hr>"
                cml: "<cml:audio_transcription source-data=\"{{audio_url}}\" name=\"audio_transcription\" type=\"['transcription']\" validates=\"required\" beta=\"true\"/>"
                js: ""
                css: ""
                validators: ["required"]
                isValid: null
                tags: ["radios","radio"]
                editorType: "CODE_EDITOR"
              allowSelfQa: false
              allowAbandonUnits: true
              maxNumberOfAllowedAbandonment: 3
              sendAbandonedUnitsBackToJob: true
              unitGroupOption: "RETAIN"
              enableShareLink: false
              timeLimitThresholdSec: 60
              dynamicJudgements:
                enableDynamicJudgements: false
                maxDynamicJudgements: 1
                mode: "MINIMUM_CONFIDENCE"
                minimumConfidence: 0.5
                enabledQuestions: "{}"
                id: ""
                version: 0
              alias: "W921033"
              multipleJudgments: true
              segmented: false
      responses:
        '200':
          description: Job updated successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
              example:
                message: "success"
                code: 200
                data:
                  id: "5d63a9fb-e44c-449e-9778-94f32001baaa"
                  version: 12
                  projectId: "b41d5f3c-8622-4f6a-a272-c0a7a2a60d88"
                  teamId: "ceb94637-a8d4-4bbd-877c-cc260a4212aa"
                  title: "Updated Job sep"
                  displayId: 512177
                  cycleNumber: 0
                  feedback: "DISABLED"
                  flowId: "5d63a9fb-e44c-449e-9778-94f32001baaa"
                  type: "WORK"
                  state: "DRAFT"
                  activeStatus: "ACTIVE"
                  assignmentLeaseExpiry: 1800
                  judgmentsPerRow: 1
                  rowsPerPage: 5
                  displayContributorName: null
                  judgmentModifiable: false
                  sendBackOp: "SEND_BACK_TO_SAME_CONTRIBUTOR"
                  copiedFrom: null
                  maxJudgmentPerContributorEnabled: false
                  maxJudgmentPerContributor: 0
                  maxSkippablePromptNum: 0
                  unitSegmentType: null
                  internalSecret: "hm9S2hnizhS6qPfOeQKVYRClVYFd4Lffplddn9uQ4mqgqq"
                  jobCml:
                    id: "a265956a-c323-41f1-8286-df2266ff1dd0"
                    version: 9
                    teamId: "ceb94637-a8d4-4bbd-877c-cc260a4212aa"
                    jobId: "5d63a9fb-e44c-449e-9778-94f32001baaa"
                    instructions: "<h1>Overview</h1>\n<hr/>\n\n<h1>Steps</h1>\n<hr/>\n\n<h1>Rules &amp; Tips</h1>\n<hr/>\n\n<h1>Examples</h1>\n<hr/>\n\n"
                    cml: "<cml:select label=\"Sample select box:\" validates=\"required\" name=\"sample_select\" type=\"['select']\"><cml:option label=\"Option 1\" value=\"option_1\" /><cml:option label=\"Option 2\" value=\"option_2\" /><cml:option label=\"Option 3\" value=\"option_3\" /></cml:select>"
                    js: ""
                    css: ""
                    validators:
                      - "required"
                    isValid: null
                    tags:
                      - "image_transcription"
                    editorType: "CODE_EDITOR"
                  jobFilter:
                    id: "f7bbc456-0cd9-4bf2-a24a-fb98365f2548"
                    version: 0
                    teamId: "ceb94637-a8d4-4bbd-877c-cc260a4212aa"
                    projectId: "b41d5f3c-8622-4f6a-a272-c0a7a2a60d88"
                    recursive: false
                    origin: "project_data_source"
                    appliedJobId: "5d63a9fb-e44c-449e-9778-94f32001baaa"
                    sampleRate: 0
                    fixedUnitNum: 0
                    schedulerDelay: 0
                    schedulerUnit: "HOURS"
                    filterCriteria: ""
                    filterNum: 0
                    segmental: false
                    carryJudgment: null
                    overwriteJudgment: null
                    segmentSampleRate: 100
                    minimumSampleUnit: 0
                  jobCrowd:
                    id: "24d43e45-54f9-4027-a178-f3e624a60ef1"
                    version: 0
                    projectId: "b41d5f3c-8622-4f6a-a272-c0a7a2a60d88"
                    jobId: "5d63a9fb-e44c-449e-9778-94f32001baaa"
                    teamId: "ceb94637-a8d4-4bbd-877c-cc260a4212aa"
                    crowdType:
                      - "INTERNAL"
                    crowdSubType: null
                    channels: []
                    customChannels: []
                    level: 0
                    languages: []
                    countryType: "all"
                    countries: []
                    containExplicit: false
                    curatedCrowd: false
                  testQuestionSettings: null
                  operateHistoryId: "af6eb6b7-fe79-472c-96ed-e629796b7697"
                  payRateType: ""
                  invoiceStatisticsType: "UNIT_COUNT"
                  createdAt: "2025-09-01T09:39:18.663680Z"
                  allowSelfQa: false
                  allowAbandonUnits: true
                  maxNumberOfAllowedAbandonment: 3
                  sendAbandonedUnitsBackToJob: true
                  instruction: ""
                  validationRuleId: null
                  enableBlueTooth: false
                  launchPlatform: []
                  latestAppVersion: false
                  reusablePrompt: false
                  reusablePin: false
                  totalSessionNumber: 1
                  firstLaunchTime: null
                  promptsEnabling: null
                  reviewReasons: ""
                  reviewReasonOption: "SINGLE"
                  parentJobId: null
                  unitGroupOption: "RETAIN"
                  appendable: false
                  enableShareLink: false
                  timeLimitThresholdSec: 0
                  enableExternalAutoAssignJob: true
                  dynamicJudgements:
                    enableDynamicJudgements: false
                    maxDynamicJudgements: 0
                    mode: "MINIMUM_CONFIDENCE"
                    minimumConfidence: 0
                    enabledQuestions: "{}"
                    id: ""
                    version: 0
                  enableExpirationTime: 0
                  expirationDurationSet: 0
                  expirationDurationUpdate: 0
                  threshold: 0
                  qaAdvancedOptions: null
                  active: true
                  appenConnectCrowd: false
                  draft: true
                  multipleJudgment: false
                  segmented: false
                  running: false
                  alias: "W512177"
                traceId: "d2770b57-cca5-4fc5-b19d-0785a31c5473"
                time: "2025-09-04T11:49:22.844051Z"

  /v3/jobs/jobStatusById:
    get:
      tags:
        - Jobs
      summary: Get job settings
      description: |
        Returns the current job status and core metadata for the given `jobId`.
        Intended for dashboards and polling; returns a lightweight subset of `JobDTO` (for example:
        `id`, `title`, `type`, `state`, `activeStatus`, `assignmentLeaseExpiry`, `rowsPerPage`,
        `judgmentsPerRow`, `displayId`, `teamId`, `createdAt`) and omits large assets/collections.
      operationId: getJobStatusById
      security:
        - TokenAuth: [ ]
      parameters:
        - name: jobId
          in: query
          required: true
          schema:
            type: string
          description: Job identifier (UUID)
          example: "6a4f9e1f-944e-452f-b743-74067e163ebb"
      x-codeSamples:
        - lang: curl
          label: Get job settings
          source: |
            curl -X GET "https://api.appen.com/v3/jobs/jobStatusById?jobId=cf2df8d7-01ed-4ec7-9e6b-31d3c3aa669b" \
              -H "Authorization: Token token=<your-api-key>"
      responses:
        '200':
          description: Job fetched successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Response'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/JobDTO'
              example:
                message: "success"
                code: 200
                data:
                  id: "5d63a9fb-e44c-449e-9778-94f32001baaa"
                  version: 12
                  projectId: "b41d5f3c-8622-4f6a-a272-c0a7a2a60d88"
                  teamId: "ceb94637-a8d4-4bbd-877c-cc260a4212aa"
                  title: "Updated Job sep"
                  displayId: 512177
                  cycleNumber: 0
                  feedback: "DISABLED"
                  flowId: "5d63a9fb-e44c-449e-9778-94f32001baaa"
                  type: "WORK"
                  state: "DRAFT"
                  activeStatus: "ACTIVE"
                  assignmentLeaseExpiry: 1800
                  judgmentsPerRow: 1
                  rowsPerPage: 5
                  displayContributorName: null
                  judgmentModifiable: false
                  sendBackOp: "SEND_BACK_TO_SAME_CONTRIBUTOR"
                  copiedFrom: null
                  maxJudgmentPerContributorEnabled: false
                  maxJudgmentPerContributor: 0
                  maxSkippablePromptNum: 0
                  unitSegmentType: null
                  internalSecret: "hm9S2hnizhS6qPfOeQKVYRClVYFd4Lffplddn9uQ4mqgqq"
                  jobCml: null
                  jobFilter: null
                  jobCrowd: null
                  testQuestionSettings: null
                  operateHistoryId: "337d2dc1-2a14-4f67-a7e6-ced564846573"
                  payRateType: ""
                  invoiceStatisticsType: "UNIT_COUNT"
                  createdAt: "2025-09-01T09:39:18.663680Z"
                  allowSelfQa: false
                  allowAbandonUnits: true
[...]
